
           <div class=" text-light foot" >
            <div class="container">
                <h1 style="display: inline;">www.Nagarro.com</h1>
            </div>
        </div>

</body>
<script src="/js/btnclick.js"></script>

</html>