
<%- include('../Headers/_homepage_header.ejs')%>

<div class="container homepage">

<a href="/teacher-login" class="btn btn-primary homebtn">TEACHER</a>
<a href="/student-result" class="btn btn-primary homebtn">STUDENT</a>

</div>

<%- include('../Footers/_homepage_footer.ejs')%>